<?xml version="1.0"?>
<!--
Copyright (C) 2017 beGateway

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

@author      beGateway
@copyright   2017 beGateway
@license     http://opensource.org/licenses/gpl-2.0.php GNU General Public License, version 2 (GPL-2.0)
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <begateway_checkout>
                <model>BeGateway\BeGateway\Model\Method\Checkout</model>
                <title>beGateway Checkout</title>
                <active>0</active>
                <order_status>payment_review</order_status>
                <transaction_type>payment</transaction_type>
                <shop_id />
                <shop_key />
                <domain_checkout />
                <domain_gateway />
                <card>1</card>
                <card_halva>0</card_halva>
                <erip>0</erip>
                <erip_service_no>99999999</erip_service_no>
                <min_order_total>0.01</min_order_total>
                <enable_logging>0</enable_logging>
                <test_mode>1</test_mode>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <group>begateway</group>
            </begateway_checkout>
            <begateway_direct>
                <model>BeGateway\BeGateway\Model\Method\Direct</model>
                <title>beGateway Direct</title>
                <active>0</active>
                <order_status>payment_review</order_status>
                <transaction_type>payment</transaction_type>
                <shop_id />
                <shop_key />
                <domain_gateway />
                <card>1</card>
                <min_order_total>0.01</min_order_total>
                <enable_logging>0</enable_logging>
                <test_mode>1</test_mode>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <group>begateway</group>
            </begateway_direct>
        </payment>
    </default>
</config>
